---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('April 08 2023')}
	updatedDate={new Date('April 08 2023')}
>
  <h1>About Me</h1>
  <p>Hello! My name is Angelo Aguilar Morillo, and I'm a 22-year-old cybersecurity enthusiast with a particular interest in penetration testing. I find great excitement in uncovering vulnerabilities and identifying potential weaknesses in digital systems.</p>
  
  <h2>Skills</h2>
  <ul>
	<li>Python</li>
    <li>Network security</li>
    <li>Penetration testing</li>
    <li>Reverse Engineering</li>
    <li>Forensic Analysis</li>
	<li>Java</li>
	<li>SQL</li>
	<li>Unity</li>
  </ul>
  
  <h2>Education</h2>
  <ul>
    <li>Applied Computer Science, Howest Bruges (2020 - present)</li>
  </ul>

  <h2>Contact</h2>
  <p>Feel free to reach out to me with any questions, collaboration opportunities, or to discuss topics related to penetration testing and cybersecurity:</p>
  <ul>
    <li>Email: <a href="mail:angelo.aguilarmorillo@gmail.com">angelo.aguilarmorillo@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/angelo-aguilar-morillo/">https://www.linkedin.com/in/angelo-aguilar-morillo/</a></li>
    <li>Github: <a href="https://github.com/rektile">https://github.com/rektile</a></li>
  </ul>

  
</Layout>
